.header{
    width: 100%;
    color: var(--primary-color);
    background-color: var(--background-color);
    height: 50px;
    padding: 5px 0px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    display: flex;
    list-style: none;
    display: flex;
    gap: 20px;
}
.logout button{
    background-color: var(--secondory-color);
    padding: 5px 15px;
    border: none;
    border-radius: 3px;
    margin-left: 10px;
    color: var(--background-color);
}