.category_list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    margin-bottom: 40px;
}
.category{
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    max-width: 300px;
    padding: 10px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    margin-top: 30px;
    /* height: 400px; */
}
.category img{
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.dlt_form{
    background-color: white;
    border-radius: 5px;
    width: 500px;
    height: 200px;
    padding: 30px 20px;
    text-align: center;
}

.modal {
    background-color: white;
    border-radius: 5px;
    width: 500px;
    height: 200px;
    padding: 30px 20px;
    text-align: center;
}